[Desktop Entry]
Version=1.0
Type=Application
Name=TermHX
Comment=
Exec=xfce4-terminal --hide-menubar --hide-scrollbar --hide-toolbar    --geometry="80x26"  --title="MENU-HX" -x /home/soleil/TerminalHX/MenuHX.sh
Icon=applications-development
Path=/home/soleil/TerminalHX
Terminal=false
StartupNotify=true
